* {
    display: flexbox;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1E2A38;
}
body {
    background-color: #3C4858;
}

h1, h3 {
    color: #F4F7F6;
}

figcaption {
    color: #3C4858;
    font-weight: bolder;
}
header h1 {
    margin-left: 10px;
}

nav {
    display: flex;
    width: 900px;
    height: 40px;
    margin: 5px auto;
    justify-content: space-around;
}

.minhaConta {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3C4858;
    box-shadow: 2px 2px 5px gray;
}

.item {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.visible {
    z-index: 1;
}

.hidden {
    opacity: 0;
    transition: opacity 0,5s;
}

.hidden2 {
    opacity: 0;
    transition: opacity 0,5s;
}

.minhaConta:hover .hidden {
    opacity: 1;
    z-index: 2;
    background-color: #3C4858;
    box-shadow: 2px 2px 5px gray;
}

.minhaConta:hover .hidden2 {
    opacity: 1;
    z-index: 2;
    border-bottom-left-radius: 10px;
    background-color: #3C4858;
    box-shadow: 2px 2px 5px gray;
}

a {
    text-decoration: none;
    color: #61A4BC;
    font-weight: bolder;
    font-size: 20px;
}

nav a{
    padding: 5px 10px;
    text-decoration: none;
    color: #61A4BC;
    font-weight: bolder;
}

a:hover{
    color: #F4F7F6;
}

main {
    width: 1080px;
    height: 1080px;
    margin: 10px auto;
}

p {
    font-weight: bolder;
    color: rgb(60, 161, 60);
}

section {
    display: flex;
    justify-content:space-evenly ;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1090px;
    height: 200px;
}

span {
    color: blue;
}

img {
    width: 150px;
    height: 150px;
}

figure {
    display: flex;
    width: 180px;
    height: 200px;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

figure:hover {
    box-shadow: 5px 5px 5px black;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E2A38;
}
